@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --color-primary: #402940;
  --color-secondary: #f0e8f0;
  --color-text-light: #e0e2df;
  --color-accent: #fbeee2;

  --color-primary-foreground: #080707;
  --color-yellow: #fef85c;

  --font-montserrat: "Montserrat Alternates", sans-serif;
  --shadow-btn: 0 4px 10px rgba(255, 196, 1, 0.25);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.specialist-onboarding-form,
.specialist-application-review,
.user-onboarding-form {
  box-sizing: border-box;
}

.google-auth-button img {
  transition: filter 150ms ease;
}

.google-auth-button:hover img {
  filter: brightness(0) saturate(100%) invert(13%) sepia(68%) saturate(3244%)
    hue-rotate(303deg) brightness(78%) contrast(98%);
}

@media (min-width: 744px) {
  .specialist-onboarding-form {
    width: clamp(402px, calc(33.495vw + 152.8px), 816px);
    max-width: none;
    padding-inline: clamp(48px, calc(9.061vw - 19.4px), 160px);
  }

  .specialist-application-review {
    width: clamp(410px, calc(32.848vw + 165.6px), 816px);
    max-width: none;
    padding-inline: clamp(48px, calc(8.252vw - 13.4px), 150px);
  }

  .user-onboarding-form {
    width: clamp(460px, calc(29.126vw + 243.3px), 816px);
    padding-inline: clamp(76px, calc(4.854vw + 39.9px), 136px);
  }
}
